<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
    <generator uri="https://blog.rust-lang.org/" version="0.1.0">Rust Blog</generator>
    <link href="https://blog.rust-lang.org/feed.xml" rel="self" type="application/atom+xml" />
    <link href="https://blog.rust-lang.org/" rel="alternate" type="text/html" />
    <title>Rust Blog</title>
    <subtitle>Empowering everyone to build reliable and efficient software.</subtitle>

    {{#each posts}}
    <entry>
        <title>{{title}}</title>
        <link rel="alternate" href="https://blog.rust-lang.org/{{url}}" type="text/html" title="{{title}}" />
        <published>{{year}}-{{month}}-{{day}}</published>
        <id>https://blog.rust-lang.org/{{url}}</id>
        <content type="html" xml:base="https://blog.rust-lang.org/{{url}}">{{contents}}</content>
    </entry>
    {{/each}}
</feed>