{{#*inline "page"}}
<header class="mt3 mt0-ns mb4-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw6-l">
      <p>{{{blog.index_html}}}</p>
    </div>
  </div>    
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw8-l">
      <p>
      <b>See also:</b>
      {{#each other_blogs}}
              <a href="{{url}}">{{link_text}}</a>
      {{/each}}
      </p>
    </div>
  </div>
</header>

<section id="posts" class="purple">
   <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">

    <table class="post-list collapse w-100 f2-l f2-m f3-s">
    {{#each blog.posts}}
      {{#if show_year}}<tr>
        <td class="bn"></td>
        <td class="bn"><h3 class="f0-l f1-m f2-s mt4 mb0">Posts in {{year}}</h3></td>
      </tr>{{/if}}
      <tr>
        <td class="tr o-60 pr4 pr5-l bn">{{month_name month}}&nbsp;{{day}}</td>
        <td class="bn"><a href="/{{../blog.prefix}}{{url}}">{{title}}</a></td>
      </tr>
    {{/each}}
    </table>

  </div>
</section>
{{/inline}}
{{~> (parent)~}}
