{{#*inline "page"}}
<header class="mt3 mt0-ns mb6-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw8-l">
      <h1>{{ title }}</h1>
    </div>
  </div>
</header>

<section id="posts" class="purple">
   <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">

    <table class="post-list">
    {{#each posts}}
      {{#if show_year}}<tr class="post-year"><td></td><td class="year"><h3>{{year}}</h3></td></tr>{{/if}}
      <tr class="post-entry">
          <td class="post-date">{{month_name month}} {{day}}</td><td class="post-link"><a href="{{url}}">{{title}}</a></td>
      </tr>
    {{/each}}
    </table>

  </div>
</section>
{{/inline}}
{{~> (parent)~}}
