{{#*inline "page"}}
<section id="{{post.title}}" class="white">
  <div class="w-100 mw-none ph3 mw8-m mw8-l center f3">
    <header>
      <h2>{{ post.title }}</h2>
      <div class="highlight mt2 mb3"></div>
    </header>

    <div class="publish-date-author">{{month_name post.month}} {{post.day}}, {{post.year}} &middot; {{post.author}}
    {{#if post.has_team}} on behalf of <a href="{{post.team_url}}">{{post.team}}</a> {{/if}}
    </div>

    <div class="post">
      {{{ post.contents }}}
    </div>
  </div>
</section>
{{/inline}}
{{~> (parent)~}}
